.title
  color: #67839e
.clock-user-container
  text-align: center
  .time-frame div
    padding: 3px 0

.user-info-and-action-block
  .greeting
    font-size: 30px
    font-family: 'Kalam', cursive
    line-height: 1.5
  .btn
    text-align: center
    padding-left: 4rem
    padding-right: 4rem

.user-activity-container
  letter-spacing: 0.5px
  .user-activity-header
    img, .text
      display: inline-block
      vertical-align: middle
      font-size: 20px
      color: #67839e
  .sub-nav
    .text
      vertical-align: middle
    a:hover
      svg path
        fill: #0056b3
  table
    color: #777777
    thead
      font-weight: bold

.form-container
  width: 100%
  max-width: 340px
  padding: 15px
  margin: auto
  color: #67839e
  line-height: 2
